/* header */
.header {
    display : flex;
    align-items : center;
    width: calc(100% - 221px);
    height: 44px;
    float: left;
}

.header .title-header{
    display: flex;
    align-items: center;
    margin-left : 16px;
    font-weight : bold;
}

.header .logouser-header {
    display : flex;
    position: absolute;
    right: 16px;
    align-items : center;
}

.header .logouser-header .icon-header{
    /* width: 16px;
    height: 16px; */
    width: 24px;
    height: 24px;
    cursor : pointer;
    background-repeat: no-repeat;
    background-size: contain;
}

.header .logouser-header .icon-down {
    width: 7px;
    height: 7px;
    background-image: url('../../icon/icon-down.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 8px;
}

.header .logouser-header .icon-user {
    background-image: url('../../icon/icon_user.png');
}

.header .logouser-header .icon-question-mark{
    background-image: url('../../icon/icon-question-mark.png');
    margin-right: 16px;
}

.header .logouser-header .icon-toggle{
    background-image: url('../../icon/icon-toggle.png');
    margin-right: 16px;
}

.header .logouser-header .icon-notify{
    background-image: url('../../icon/icon-notify.png');
    margin-right: 16px;
}

.header .logouser-header .title-logouser-header{
    margin-right: 16px;
}

.header .logouser-header .header-current-year{
    border-radius: 3px;
    
    position: relative;
    display: flex;
    padding: 0px 10px;
    /* height: 24px;
    width: 92px; */
    margin-right: 16px;
    background-color: rgba(26, 164, 200, .2);
    width: 112px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}

.header .logouser-header .current-year{
    margin-left: 16px;
    font-weight: 600;
}

.header .logouser-header .header-current-year .icon-down{
    width: 7px;
    height: 7px;
    background-image: url('../../icon/icon-down.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 10px;
    bottom: 6px;
}

.header .logouser-header .header-current-year .icon-top{
    width: 7px;
    height: 7px;
    background-image: url('../../icon/icon-top.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 10px;
    top: 7px;
}

.header-popup-fixedasset{
    height: 36px;
    line-height: 36px;
}

.header-popup-fixedasset span{
    font-size: 14px !important;
    font-weight: 700;
    margin-left: 16px;
}